@using Northwind.DataContext;
@model HomeCustomersViewModel;

@{
    ViewData["Title"] = "Customers";
}

<div class="row">
    <div class="col-md-12">
        <h1>Northwind Customers</h1>

        @if (Model is not null)
        {
            <h2>Customers</h2>
            <div class="column">
                <ul>
                    @foreach (Customer c in @Model.Customers)
                    {
                        <li>
                            <a asp-controller="Home" asp-action="CustomerOrders" asp-route-id="@c.CustomerId">
                                @c.CompanyName located in @(c.Country is null ? "Unknown" : c.Country) @(c.City is null ?
                        "Unknown" : c.City)
                            </a>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>